## Eclipse stuff
/.project
/.pydevproject
/.settings

## Backup files
*~
*.bak
*.bck

## Python binaries
*.pyc

## Stuff from mac
*.DS_Store

## Other non-necessary files
/web2py/cron.master
/web2py/httpserver.pid
/web2py/httpserver.log
