{{teaser=globals().get('teaser', False)}}
{{comments_enabled = True}}
{{from gluon.sqlhtml import represent}}

<article class="node {{='node-teaser' if teaser else 'node-full'}} node-type-{{=node.type}}">
    <header>
		{{#@todo: Read the list of nodes for which to show calendar from configuration}}
		{{if node.type in ['article']:}}
		<div class="node-calendar">
		    <div class="node-calendar-month">{{=node.created_date.strftime("%B")}}</div>
		    <div class="node-calendar-day">{{=node.created_date.strftime("%-d")}}</div>
		    <div class="node-calendar-year">{{=node.created_date.strftime("%Y")}}</div>
		</div>
		{{pass}}
	
		{{if teaser:}}
		<h2 class="node-title">{{=A(node.values['node_fields_base']['title'], _href=CMS_URL('node', node.id))}}</h2>
		{{else:}}
		<h1 class="node-title">{{=node.values['node_fields_base']['title']}}</h1>
		{{pass}}
		
		<time pubdate datetime="{{=node.created_date.strftime('%FT%T')}}"></time>
		
		<div class="submitted">
		{{=XML(T('Submitted by %(author)s on %(date)s', dict(
		    author = A(represent(db.node.created_by, node.created_by, node), _href=CMS_URL('user', node.created_by)),
		    date = represent(db.node.created_date, node.created_date, node),
		)))}}
		</div>
		
		{{if node.created_date != node.updated_date:}}
		<div class="updated">
        ({{=T('Last update on %(date)s', dict(date=represent(db.node.updated_date, node.updated_date, node)))}})
        </div>
        {{pass}}
		
    </header>
    
    <div style='border-bottom: solid 1px #aaa;border-top: solid 1px #aaa;font-size:.8em;'>
        <strong>Language:</strong> {{=node.default_language}} -
        <strong>Revision:</strong> {{=node.default_revision}}
    </div>
    
    <div class="node-body">
        {{=node.values['node_fields_base']['body']}}
    </div>

    <footer>
        {{if not teaser and node.translations:}}
	    <nav class="node-translations">
	    <ul class="inline-links">
	    <li><strong>Language:</strong></li>
	    {{for langcode in node.translations:}}
	    {{langname = cms_settings.content_languages[langcode]}}
	        <li>{{=A(IMG(_src=URL('static', 'images/icons/flags/%s.png' % (langcode if langcode else 'neutral')), _alt=langname, _title=langname),
	            _href=CMS_URL('node', node.id, vars=dict(language=langcode)))}}</li>
	    {{pass}}
	    </ul>
	    </nav>
	    {{pass}}
	    
	    <nav class="node-actions">
	       <ul class="inline-links">
	           <li><strong>Actions:</strong></li>
	           <li>{{=A(T('Edit'), _href=URL('default','node_update',args=[node.id]))}}</li>
	           <li>{{=A(T('Add comment'), _href=URL('default','comment_create',args=['node', node.id]))}}</li>
	       </ul>
	    </nav>
    </footer>


    {{#TODO: Use a component to load comments!}}

	{{#if (not teaser) and comments_enabled:}}
	{{#from helpers import get_comments}}
	{{#comments=get_comments(db, 'node', str(node.id))}}
	{{#include 'content/comment-list.html'}}
	{{#pass}}

</article>
