<!-- LIST OF NODES -->
{{for node in nodes:}}
{{=XML(response.render('content/node-article.html', dict(node=node, teaser=True)))}}
{{pass}}

<!-- PAGER -->
{{
def url_to_page(page_id):
    _vars = request.vars.copy()
    _vars['page'] = page_id
    return URL(
        request.application,
        request.controller,
        request.function,
        args=request.args,
        vars=_vars,
    )
    pass
}}
{{if nodes_count > articles_per_page:}}
{{
import math
pages_count = int(math.ceil(1.0 * nodes_count / articles_per_page))
}}
<div class="pager-container">
<ul class="pager">
    {{if page_id > 0:}}
    <li>{{=A(T('first'), _href=url_to_page(0))}}</li>
    <li>{{=A(T('previous'), _href=url_to_page(page_id-1))}}</li>
    {{pass}}
    {{for i in range(pages_count):}}
	<li>{{=A("%d" % (i+1), _href=url_to_page(i), _class=('current' if i == page_id else '') )}}</li>
    {{pass}}
    {{if page_id < (pages_count-1):}}
    <li>{{=A(T('next'), _href=url_to_page(page_id+1))}}</li>
    <li>{{=A(T('last'), _href=url_to_page(pages_count-1))}}</li>
    {{pass}}
</ul>
</div>
{{pass}}


<!-- DEBUG -->
nodes_count={{=nodes_count}}<br/>
page_id={{=page_id}}<br/>
articles_per_page={{=articles_per_page}}<br/>
