{{#body_classes='fluid-width'}}
{{extend 'layout.html'}}

{{#TODO: Use a better way to generate breadcrumbs! }}
<div class="breadcrumb">
{{=A(T('Admin'), _href=URL('admin','index'))}} » {{=T('Blocks')}}
</div>

<h1>Blocks placement</h1>

<!-- 
{{block right_sidebar}}
<div class="region-placeholder">Right sidebar</div>
{{end}}
{{block left_sidebar}}
<div class="region-placeholder">Right sidebar</div>
{{end}}
{{block region_content_pre}}
<div class="region-placeholder">Content / pre</div>
{{end}}
{{block region_content_post}}
<div class="region-placeholder">Content / post</div>
{{end}}
 -->

