{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}

<h1>{{=T('Administer content')}}</h1>

<fieldset class="collapsible">
<legend>{{=T('Filter form')}}</legend>
<div>{{=filter_form}}</div>
</fieldset>

{{from gluon.sqlhtml import represent}}

{{if 'description' in globals() and len(description):}}
<fieldset class="collapsible">
<legend>{{=T('Search query')}}</legend>
<div>{{=TABLE(*[TR(TH(text[0]), TD(text[1])) for text in description])}}</div>
</fieldset>
{{pass}}

<div>{{=T('Found %d nodes matching query', len(nodes))}}</div>

<div>
{{=TABLE(

THEAD(TR(
    TH(T('Node ID')),
    TH(T('Type')),
    TH(T('Title')),
    TH(T('Created')),
    TH(T('Updated')),
    TH(T('Author')),
    TH(T('Actions')),
)),

TBODY(*[TR(
    TD(node.id),
    TD(node.type),
    TD(A(node.title, _href=URL('default', 'node_read', args=[node.id]))),
    TD(node.created),
    TD(node.updated),
    
    #TD(represent(db.node.author, node.author, node)),
    
    TD(A(
        represent(db.node.author, node.author, node),
        _href=URL('default', 'user', args=['profile', node.author]),
    )),
    
    TD([
        A(T('view'), _href=URL('default', 'node_read', args=[node.id])),' ',
        A(T('edit'), _href=URL('default', 'node_update', args=[node.id])),' ',
        A(T('delete'), _href=URL('default', 'node_delete', args=[node.id])),' ',
    ])
) for node in nodes]),

_style = 'width:100%;'

)}}
</div>

<script type="text/javascript">
$(document).ready(function() {
	// -- Collapse collapsible fieldsets
    $("fieldset.collapsible").collapse({'speed':'fast'});
    
    // -- Add blank button right of datetime fields
    $('input.datetime').each(function(){
    	oc = "$('#"+this.id+"').val('');return false;"
    	$(this).after('<button class="blank-btn" onclick="'+oc+'">BLANK</button>');
    });
});
</script>
