<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}" class="no-js"><!-- no-js need it for modernzr -->
  <head>
    
    <meta charset="utf-8" />        
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]>
      <!-- Always force latest IE rendering engine 
       (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->    

    <title>{{=response.title or request.application}}</title>
    
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}" /> 
    
    <!-- Speaking of Google, don't forget to set your site up: 
     http://google.com/webmasters -->
    <meta name="google-site-verification" content="" />
    
    <!--  Mobile Viewport Fix
      j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
      device-width: Occupy full width of the screen in its current orientation
      initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
      maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
      -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">

    <!-- For the less-enabled mobile browsers like Opera Mini -->
    <link rel="stylesheet" media="handheld" href="{{=URL('static','css/handheld.css')}}">
    
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-1.7.min.js')}}"></script>
    
    {{
    from cms_settings import cfg_parser
    from helpers import get_region_content, get_region
    import helpers
    helpers.db = db
    main_cfg = cfg_parser('cms-settings', force_reload=True)
    }}
    
    {{#------  require CSS and JS files for this page (read info in base.css) ------}}
    {{response.files.append(URL('static','css/base.css'))}}
    {{response.files.append(URL('static','css/superfish.css'))}}
    {{response.files.append(URL('static','js/superfish.js'))}}
    
    {{#------ include extra stuff ------}}
    {{response.files.append(URL('static','css/jquery-collapsible.css'))}}
    {{response.files.append(URL('static','js/jquery.collapsible.js'))}}
    {{response.files.append(URL('static','js/jquery.url.js'))}}
    {{response.files.append(URL('static','js/widgets.js'))}}
    
    {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}
    {{#NOTE: This must be the last of response.files manipulation!}}
    {{include 'web2py_ajax.html'}}

    {{
    #using sidebars need to know what sidebar you want to use
    #prior of using it, because of static width size of content, you can use
    #left_sidebar, right_sidebar, both or none (False left and right)    
    left_sidebar_enabled = globals().get('left_sidebar_enabled',True)
    right_sidebar_enabled = globals().get('right_sidebar_enabled',True)
    if left_sidebar_enabled and right_sidebar_enabled: width_content='63%'
    elif left_sidebar_enabled != right_sidebar_enabled: width_content='720px'
    else: width_content='100%'
    if left_sidebar_enabled: left_sidebar_style = 'style="display: block;"'
    else: left_sidebar_style = 'style="display: none;"'
    if right_sidebar_enabled: right_sidebar_style = 'style="display: block;"'
    else: right_sidebar_style = 'style="display: none;"'
    style_content = 'style="width: %s"' % width_content
    }}
    
    <!-- uncomment here to load jquery-ui -->
    
    <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" /> -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script> -->
    
    <!-- <link rel="stylesheet" href="{{=URL('static','css/jquery-ui.css')}}" type="text/css" media="all" /> -->
    <!-- <script src="{{=URL('static','js/jquery-ui.min.js')}}" type="text/javascript"></script> -->
    
   <!-- uncomment to load jquery-ui -->
    
    
  </head>
  
  {{body_classes=globals().get('body_classes','')}}
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->  
  <!--[if lt IE 7 ]> <body class="ie6 {{=body_classes}}"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7 {{=body_classes}}"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8 {{=body_classes}}"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9 {{=body_classes}}"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body class="{{=body_classes}}"> <!--<![endif]-->
    
    <div class="flash">{{=response.flash or ''}}</div> <!-- notification div -->

    <div id="container">                        
      
    <div id="wrapper"> 
    <div id="page-upper">       
    {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}
    </div>
    
    <div id="header"> <!-- header and login nav -->
      {{block header}} <!-- this is default header -->
      
      <!-- Site logo -->
      {{if main_cfg.getbooleand('information','enable-logo',True):}}
      {{
      logo_path = main_cfg.getd('information','logo',':static:images/web2cms-logo.png')
      if logo_path.startswith(':static:'):
        logo_path = URL('static', logo_path[8:])
        pass
      }}
      {{=IMG(
          _src=logo_path,
          _alt=response.title,
          _title=response.title,
          _class="site-logo",
          _style="float:left;margin:5px 15px 0;",
      )}}
      {{pass}}
      
      <!-- Title and subtitle -->
      <div style="display: table-cell;" class="site-information">

        {{if main_cfg.getbooleand('information','enable-title',True):}}
        <h1 class="site-title">
            {{=main_cfg.getd('information','title','web2cms')}}
        </h1>
        {{pass}}

        {{if main_cfg.getbooleand('information','enable-subtitle',True):}}
        <div class="site-subtitle app-subtitle">
            {{=main_cfg.getd('information','subtitle','')}}
        </div>
        {{pass}}

      </div><!-- Title and subtitle -->
      
      <div style="clear: both;"></div><!-- Clear the divs -->
      {{end}}
    </div><!-- header  -->
    
    
    <div id="statusbar"><!-- statusbar is menu zone -->
      {{block statusbar}} <!-- this is default statusbar -->
      {{#------ superfish menu ------}}
      {{=MENU(response.menu,_class='sf-menu')}}
      <script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery('ul.sf-menu').superfish();});
      </script>

      <!-- AddToAny BEGIN -->
      <!-- <div style="padding: 7px; float:right;" class="a2a_kit a2a_default_style">
      <a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a></div>
      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script> -->
      <!-- AddToAny END -->

      <div style="clear: both;"></div><!-- Clear the divs -->   
      {{end}}               
    </div><!-- statusbar -->
    
    
    <div id="page"> <!-- Here my central body -->     

      {{if left_sidebar_enabled:}}
        {{left_sidebar_content = get_region_content('left_sidebar')}}
        {{if left_sidebar_content:}}
          <div id="left_sidebar" {{=XML(left_sidebar_style)}} >
            <div style="padding: 4px;">
          {{block left_sidebar}}{{=left_sidebar_content}}{{end}}       
            </div>
          </div><!-- left_sidebar -->
        {{pass}}
      {{pass}}

      <!-- content -->
      <div id="content" {{=XML(style_content)}} >
        {{=get_region('content_pre')}}
        
        <div id="content-region-content">
        {{include}}
        </div>
        
        {{=get_region('content_post')}} 
      </div>
      <!-- content -->

      {{if right_sidebar_enabled:}}
        {{right_sidebar_content = get_region_content('right_sidebar')}}
        {{if right_sidebar_content:}}
          <div id="right_sidebar" {{=XML(right_sidebar_style)}} >
            <div style="padding: 4px;">
              {{block right_sidebar}}{{=right_sidebar_content}}{{end}}
            </div>
          </div><!-- right_sidebar -->
        {{pass}}
      {{pass}}

      <div style="clear: both;"></div><!-- Clear the divs -->
      
    </div><!-- page -->                         
    
    
    <div id="footer">
      {{block footer}} <!-- this is default footer -->
      
      <!-- "Powered by" image -->
      {{if main_cfg.getbooleand('information','enable-footer-poweredby',True):}}
      <a href="http://www.web2py.com/" style="float: left; padding-right: 6px;">
        <img src="{{=URL('static','images/poweredby.png')}}"/>
      </a>
      {{pass}}
      
      {{if main_cfg.getbooleand('information','enable-footer',True):}}
      {{=main_cfg.getd('information','footer',T('Copyright &#169; %s', '2011'))}}
      {{pass}}
      
      <div style="clear: both;"></div><!-- Clear the divs -->
      {{end}}

    </div><!-- footer -->           
      </div><!-- wrapper -->
    </div><!-- container -->        
    
    <!--[if lt IE 7 ]>
    <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->
    
    {{if response.google_analytics_id:}}
    <script>
    /* http://mathiasbynens.be/notes/async-analytics-snippet */
    var _gaq=[['_setAccount','{{=response.google_analyitics_id}}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))
    </script>
    {{pass}}

  </body>
</html>

