{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}

<h1>{{=T('Welcome to web2cms!')}}</h1>

<p><strong>web2cms</strong> is a web2py-based Content Management System.</p>
<p>At the moment it is under development, and this is just an experimental
version. Future usable versions will have something different in place
of this introduction page. Now I'm just writing some text just in order
to fill this gap and avoid leaving a blank page around.</p>

<p>
{{=UL(
LI(A(T('Read web2cms documentation'), _href=URL('static', 'doc/_build/html/index.html'), _target='_blank')),
LI(A(T('Visit web2py homepage'), _href='http://www.web2py.com', _target='_blank')),
LI(A(T('Read web2py documentation'), _href='http://www.web2py.com/book', _target='_blank')),
)}}
</p>

