{{#left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}

<h1>{{=T('Welcome to web2cms!')}}</h1>

<p><strong>web2cms</strong> is a web2py-based Content Management System.</p>
<p>At the moment it is under development, and this is just an experimental
version. Future usable versions will have something different in place
of this introduction page. Now I'm just writing some text just in order
to fill this gap and avoid leaving a blank page around.</p>

<h2>Project status</h2>
<p>
  The current project status is <strong>pre-alpha</strong>, pretty much nothing
  is usable yet, although the whole structure is being defined.<br/>
  Feel free to try it out but keep in mind that very few things actually work
  (content creation and display is ok, updating it is work-in-progress;
  the whole extension modules part is completely under development; ...).
</p>


<table style='width:100%;'><tr><td width='50%' style='vertical-align:top;'>
<h2>web2cms Links</h2>
<p>
{{=UL(
LI(A(T('web2cms website'), _href='http://w2cms.com', _target='_blank')),
LI(A(T('Documentation'), _href=URL('static', 'doc/_build/html/index.html'), _target='_blank')),
LI(A(T('Project page on GitHub'), _href='https://github.com/rshk/web2cms', _target='blank')),
LI(A(T('Git repository'), _href='https://github.com/rshk/web2cms.git', _target='_blank')),
LI(A(T('#web2cms on Twitter'), _href='https://twitter.com/search/%23web2cms', _target='blank')),
LI(A(T('#web2cms on Identica'), _href='https://identi.ca/tag/web2cms', _target='blank')),
)}}
</p>
</td><td width='50%' style='vertical-align:top;'>
<h2>web2py Links</h2>
<p>
{{=UL(
LI(A(T('Visit web2py homepage'), _href='http://www.web2py.com', _target='_blank')),
LI(A(T('Read web2py documentation'), _href='http://www.web2py.com/book', _target='_blank')),
)}}
</p>
</td></tr></table>


