{{extend 'layout.html'}}

{{from gluon.sqlhtml import represent}}
{{from cms_settings import content_languages}}

{{include 'generic/tabs.html'}}

<h1>Node versions</h1>

<h2>Details</h2>

<ul>
    <li><strong>Node:</strong> {{=node["type"]}}</li>
    <li><strong>ID:</strong> {{=node["id"]}}</li>
    <li>Created by
        {{=A(represent(db.node.created_by, node["created_by"], node), _href=CMS_URL('user', node["created_by"]))}}
        on {{=node["created_date"]}}</li>
    <li>Latest update by
        {{=A(represent(db.node.updated_by, node["updated_by"], node), _href=CMS_URL('user', node["updated_by"]))}}
        on {{=node["updated_date"]}}</li>
    <li><strong>Published:</strong> {{='Yes' if node["published"] else 'No'}}</li>
    <li><strong>Weight:</strong> {{=node["weight"]}}</li>
    <li><strong>Revisions:</strong> {{=len(node.revision_numbers)}}</li>
    <li><strong>Revision numbers:</strong> {{=", ".join([str(x) for x in sorted(node.revision_numbers)])}}</li>
    <li><strong>Translations:</strong> {{=", ".join(content_languages.get(l,l) for l in node.translations)}}</li>
</ul>

<h2>Revisions</h2>

{{for revision in node.revisions.select(orderby=db.node_revision.id):}}
<h3>Revision {{=revision.id}}</h3>

<fieldset class="collapsible start-collapsed">
<legend>Revision information</legend>
<ul>
    <li><strong>Revision id:</strong> {{=revision.id}}</li>
    <li>Created by
        {{=A(represent(db.node.created_by, node["created_by"], node), _href=CMS_URL('user', revision.created_by))}}
        on {{=revision.created_date}}</li>
    <li>Latest update by
        {{=A(represent(db.node.updated_by, node["updated_by"], node), _href=CMS_URL('user', revision.updated_by))}}
        on {{=revision.updated_date}}</li>
    <li><strong>Published:</strong> {{='Yes' if revision.published else 'No'}}</li>
    <li><strong>Base language:</strong> {{=revision.translation_base}}</li>
    <li><strong>Log message:</strong> {{=revision.log_message}}</li>
</ul>
</fieldset>

{{for extra_table in ['node_fields_base']:}}
{{extra_fields = revision[extra_table].select().first()}}
<fieldset class="collapsible start-collapsed">
<legend>{{=extra_table.replace('_',' ').title()}}</legend>

<h4>Language neutral version</h4>
<p>{{=BEAUTIFY(extra_fields)}}</p>

{{if extra_fields.has_key('t9n_%s' % extra_table):}}
{{for translation in extra_fields['t9n_%s' % extra_table].select():}}
<h4>{{="%s version" % cms_settings.content_languages.get(translation.language,translation.language)}}</h4>
<p>{{=BEAUTIFY(translation)}}</p>
{{pass}}
{{pass}}

</fieldset>
{{pass}}

{{pass}}
